@import "./styles/overrides.scss";

body {
  margin: 0;
}

header {
  height: 55px;
}

main {
  height: 100%;
  max-height: calc(100% - 55px);
  padding-top: 35px;
}

.app {
  position: relative;
  max-width: 762px;
  height: 100vh;
  margin: auto;
}

.heading {
  margin: 30px 0 45px;
}

.calendar {
  min-height: 155px;
  margin-bottom: 30px;
  padding-top: 30px;
  overflow-x: hidden;
}

.calendar:hover {
  overflow-x: auto;
}

.calendar-day {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 65px;
  color: $dark;
  text-decoration: none;
  background-color: $light;
}

.status-bar {
  display: flex;
  justify-content: center;
  gap: 5px;
  height: 10px;
  padding-top: 5px;
}

.has-completed::before,
.has-incompleted::after {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  content: "";
}

.has-completed::before {
  background-color: $primary;
}

.has-incompleted::after {
  background-color: $secondary;
}

.menu {
  padding: 12px 0 60px;
  background-color: #fff;
  box-shadow: 0 -24px 18px 6px #fff;
}

.todo-list {
  margin: 0;
  padding: 0;
  padding: 16px 0 32px;
  list-style: none;
  overflow-y: auto;
}

.todo-item {
  display: flex;
  align-items: center;
  gap: 25px;
  margin-bottom: 25px;
}

.todo-item:last-child {
  margin-bottom: 0;
}

.todo-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-width: 3px;
}

.task-info {
  padding: 50px 12px 0;
}

.auth-form {
  width: 75%;
  padding-top: 45px;
}

.task-form {
  width: 95%;
  padding-top: 25px;
}

.mh-none {
  max-height: none;
}

@media (min-width: 576px) {
  .auth-form {
    width: 50%;
  }

  .task-form {
    width: 75%;
    padding-top: 50px;
  }
}
