body {
  margin: 0;
}

main {
  padding-top: 35px;
}

.app {
  max-width: 762px;
  margin: auto;
}

.heading {
  margin: 30px 0 45px;
}

.auth-form {
  width: 75%;
  padding-top: 45px;
}

@media (min-width: 576px) {
  .auth-form {
    width: 50%;
  }
}
